@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .login-input {
    @apply placeholder:text-stone-400 
           max-w-64 
           text-[1.2rem]  
           font-normal 
           font-[Inter] 
           px-4 
           py-2.5 
           origin-top-left 
           rounded-[20px] 
           outline 
           outline-1 
           outline-offset-[-1px] 
           outline-black/90 
           inline-flex;
  }
}

* {
  margin: 0;
  padding: 0;
}
svg * {
  fill: currentColor !important;
}
svg {
  display: block;
  overflow: visible;
  shape-rendering: crispEdges;
}

path {
  vector-effect: non-scaling-stroke;
}

.slice {
  background: linear-gradient(
    to top left,
    rgba(0, 0, 0, 1) 50%,
    rgba(255, 255, 255, 1) 50%
  );
}
